.intersectionConfigPage {
  &__header {
    font-size: 2.5rem;
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    font-family: "Pacifico", Courier, monospace;
    border-bottom: 1px solid $color-yellow;
    border-left: 1px solid $color-yellow;
    border-radius: 0.7rem;
    width: fit-content;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--left {
      flex-basis: 50%;
    }
    &--right {
      flex-basis: 48%;
    }
  }
}
