$color-white: #fff;
$color-white-light: #ffffff;
$color-white-dark: #e7e9ea;

$color-black: #232222;
$color-black-light: #3d3c3c;
$color-black-dark: #060707;

$text-color: #181a40;
$text-success-color: #10601f;
$text-error-color: #e45351;

$box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.13);
